Project 2/XSD/gradebook.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name='gradebook'>
        <xs:complexType>
            <xs:sequence>
                <xs:element name='catalog'>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name='entry' maxOccurs='unbounded' minOccurs='0'>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name='cno'>
                                           <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                <xs:pattern value="[a-z][a-z][a-z][0-9][0-9][0-9]"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name='ctitle' type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name='students'>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name='student' maxOccurs='unbounded' minOccurs='0'>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name='sid'>
                                        <xs:simpleType>
                                                <xs:restriction base="xs:positiveInteger">
                                                <xs:pattern value="[0-9][0-9][0-9][0-9]"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name='fname' type="xs:string"/>
                                        <xs:element name='lname' type="xs:string"/>
                                        <xs:element name='minit'>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                <xs:pattern value="[A-Z]"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>    
                    </xs:complexType>
                </xs:element>
                <xs:element name='enrolls'>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name='enroll' maxOccurs='unbounded' minOccurs='0'>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                        <xs:attribute name="sid">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:pattern value="\d{4}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="cid">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="(f|sp|su)\d{2}(-\d{1,2})?"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name='courses'>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name='course' maxOccurs='unbounded' minOccurs='0'>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="component" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="score" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:integer">
                                                                    <xs:attribute name="sid">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:integer">
                                                                                <xs:pattern value="\d{4}"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:attribute>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="name" type="xs:string"/>
                                                <xs:attribute name="maxpoints">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:positiveInteger">
                                                            <xs:maxInclusive value="1000"/>
                                                            <xs:minInclusive value="1"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="weight">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:positiveInteger">
                                                            <xs:maxInclusive value="100"/>
                                                            <xs:minInclusive value="1"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="cid">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="(f|sp|su)\d{2}(-\d{1,2})?"/>

                                                </xs:restriction>
                                            </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="term">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="f\d{2}|sp\d{2}|su\d{2}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="lineno">
                                        <xs:simpleType>
                                                <xs:restriction base="xs:positiveInteger">
                                                    <xs:pattern value="\d{4}"/>
                                                </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="cno">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[a-z]{3}\d{3}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="a">
                                        <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:maxInclusive value="100"/>
                                                    <xs:minInclusive value="0"/>
                                                </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="b">
                                        <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:maxInclusive value="100"/>
                                                    <xs:minInclusive value="0"/>
                                                </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="c">
                                        <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:maxInclusive value="100"/>
                                                    <xs:minInclusive value="0"/>
                                                </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="d">
                                        <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:maxInclusive value="100"/>
                                                    <xs:minInclusive value="0"/>
                                                </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
